* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "微软雅黑";
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}


.head-box {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 588px;
}

.head-focus {
    position: relative;
    width: 100vw;
    height: 588px;
    overflow: hidden;
}

.head-focus .head-arrow-l,
.head-arrow-r {
    display: none;
    /* position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -20px;
    width: 66px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 40px;
    color: #fff; */
}

.head-arrow-r {
    right: 0;
}

.head-arrow-l:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.head-arrow-r:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.head-circle {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 16px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    height: 20px;

}

.head-circle li {
    float: left;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    margin: 4px 18px;
}

.head-current-pic {
    background-color: #1865ab !important;
}


.head-focus ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 800%;
}

.head-focus ul li {
    float: left;
    height: 388px;
}

.head-focus img {
    width: 100vw;
    height: auto;
}

/* 顶部版心 */
.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 95vw;
    height: 280px;
}

/* 顶部logo */
.logo-box {
    width: 520px;
    height: 120px;
}

.head-logo {
    float: left;
}

.head-logo img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-left: -20px;
}

.nav-box {
    position: relative;
    width: 840px;
    height: 120px;
}

.nav-other {
    position: relative;
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    width: 270px;
    height: 60px;
}

.search-box {
    display: flex;
    width: 140px;
    height: 25px;
    border: 1px solid #fff;
    border-radius: 4px;
}

.search-box input {
    width: 80%;
    outline: none;
    border: 0px;
    font-size: 16px;
    padding-left: 3px;
    background: transparent;
    caret-color: #fff;
}

.lang {
    position: absolute;
    right: 10px;
    width: 110px;
    height: 23px;

}

.lang ul {
    display: flex;
    justify-content: space-between;
}

.lang li {
    width: 20px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    font-size: 14px;

}

.lang .EN {
    width: 38px;
    position: relative;
}

.EN a {
    position: absolute;
    right: 0;
}

.lang img {
    position: absolute;
    top: 2px;
    left: 0;
    width: 18px;
}

.line {
    position: absolute;
    right: 46px;
    top: 2px;
    width: 2px;
    height: 19px;
    background-color: white;
}

.search-box button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.search-box img {
    width: 20px;
    height: auto;
}

.nav-list {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.nav-list ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.nav-list li {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding: 0 10px;
}

/* 第一信息栏版心 */
.notic-box {
    display: flex;
    justify-content: space-between;
    width: 1348px;
    height: 388px;
    margin: 0 auto;

}

.focus .arrow-l,
.arrow-r {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 40px;
    color: #fff;
}

.arrow-r {
    right: 0;
}

.arrow-l:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.arrow-r:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.focus {
    position: relative;
    top: 50%;
    margin-top: -112px;
    left: 0;
    width: 388px;
    height: 244px;

    overflow: hidden;
}

.focus a {
    position: absolute;
    z-index: 1;
}

.focus ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 800%;
}

.focus ul li {
    float: left;
    width: 388px;
    height: 244px;
}

.focus img {
    width: 388px;
    height: 244px;
}

/* 学院动态 */
.xueyuan-box {
    position: relative;
    width: 386px;
    height: 100%;
}

.xueyuan-box ul {
    position: absolute;
    left: 20px;
}
.xueyuan-box img{
    position: absolute;
    left: -5px;
    bottom: -5px;
    width: 45px;
    height: 45px;
}

.xueyuan-box .news-list li a {
    width: 348px;
}

.notic-box .xueyuan-box span {
    position: absolute;
    top: 16px;
    left: -20px;
    width: 28px;
    height: 23px;
    padding: 1px 0 2px 0;
    text-align: center;
    background-color: #f9e208;
    color: #000000;
    font-size: 9px;
    font-weight: 400;
}

.tongzhi-box {
    position: relative;
    width: 386px;
    height: 100%;
}
.tongzhi-box img {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 30px;
    height: 35px;
}

.tongzhi-box ul {
    position: absolute;
    left: 20px;
}

.tongzhi-box .news-list li a {
    width: 348px;
}

.notic-box .tongzhi-box span {
    position: absolute;
    top: 16px;
    left: -20px;
    width: 28px;
    height: 23px;
    padding: 1px 0 2px 0;
    text-align: center;
    background-color: #f9e208;
    color: #000000;
    font-size: 9px;
    font-weight: 400;
}

/* 图片链接栏 */
.pic-nav {
    width: 100%;
    height: 210px;
    background-color: #cae9fb;
    margin: 0 auto;
}

/* 图片链接栏版心 */
.pic-nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1348px;
    height: 210px;
    margin: 0 auto;
}

/* 图片链接 */
.pic-nav-box a {
    position: relative;
    width: 260px;
    height: 160px;
}

.pic-nav-box img {
    width: 100%;
    height: 100%;
}

/* 图片文字 */
.pic-nav-box a span {
    position: absolute;
    top: 44px;
    left: 42px;
    width: 60px;
    height: 60px;
    background-color: #cae9fb;
    color: #21368f;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    padding: 6px;
    text-align: center;
}


/* 新闻栏目版心 */
.news-box {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 1348px;
    height: 388px;
    margin: 0 auto;
}

.news-head {
    position: absolute;
    top: 38px;
    left: 2px;
    width: 386px;
    height: 50px;
    border-bottom: 2px solid #bab9b9;
    z-index: 1;
}

.news-head h2 {
    position: absolute;
    left: 40px;
    bottom: -2px;
    border-bottom: 3px solid #426eb7;
    padding: 2px 0;

    color: #426eb7;
}

.news-head a {
    position: absolute;
    right: 0;
    bottom: 1px;
    color: #bab9b9;
}

.news-list {
    position: absolute;
    right: 0;
    bottom: 46px;
    width: 386px;
    height: 240px;

}

.news-list li {
    position: relative;
    top: -10px;
    width: 100%;
    height: 40px;
}

.news-list li a {
    position: absolute;
    bottom: 0;
    left: 24px;
    width: 260px;
    height: 23px;
    font-size: 16px;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-list li span {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 10px;
    color: #888888;

}

.news-list .dot {
    position: absolute;
    left: 0;
    bottom: 6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #416eb6;
}

/* 人才培养 */
.rencai-box {
    position: relative;
    width: 386px;
    height: 100%;
}
.rencai-box img {
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 35px;
    height: 32px;
}

/* 科研咨询 */
.keyan-box {
    position: relative;
    width: 386px;
    height: 100%;

}

.keyan-box img {
    position: absolute;
    left: 0;
    bottom:2px;
    width: 35px;
    height: 35px;
}

/* 党团工会 */
.dangtuan-box {
    position: relative;

    width: 386px;
    height: 100%;
}

.dangtuan-box img {
    position: absolute;
    left: 0px;
    bottom: -1px;
    width: 35px;
    height: 35px;
}
/* 底部背景 */
.footer {
    width: 100%;
    height: 218px;
    background-image: linear-gradient(#4fa4e4, #122d73);
}

/* 底部版心 */
.footer_box {
    position: relative;
    width: 1348px;
    height: 218px;
    margin: 0 auto;
}

/* 友情链接 */
/* 定位下拉内容 */
.dropdown {
    position: absolute;
    top: 30px;
    left: 10px;

}
.tria{
    position: absolute;
    top: 9px;
    right: 12px;
    border-top: 13px solid #fff;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    cursor: pointer;
}



/* 下拉按钮 */
.dropbtn { 
    display: inline-block;
    width: 130px;
    height: 30px;
    background-color: transparent;
    color: white;
    padding: 0 40px 0 4px;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

/* 下拉内容 (默认隐藏) */
.dropdown-content {
    position: absolute;
    background-color: #4fa4e4;
    min-width: 128px;
    opacity: 0;
    /* 初始透明度为0 */
    max-height: 0;
    /* 初始高度为0 */
    overflow: hidden;
    /* 隐藏溢出内容 */
    transition: opacity 0.5s ease, max-height 2.5s ease;
    /* 添加过渡效果 */
}

/* 下拉菜单的链接 */
.dropdown-content a {
    display: block;
    color: #f9f9f9;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;

}

/* 鼠标移上去后修改下拉菜单链接颜色 */
.dropdown-content a:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px -4px 6px rgba(0, 0, 0, 0.1);

}

/* 在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
    opacity: 1;
    /* 鼠标悬停时透明度变为1，显示 */
    max-height: 1000px;
    /* 鼠标悬停时最大高度变为1000px，逐渐展开 */
}

/* 当下拉内容显示后修改下拉按钮的背景颜色 */
.dropdown:hover .dropbtn {
    background-color: #4fa4e4;
}

/* 底部logo */
.logo_foot {
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -325px;
}

.logo_foot img {
    max-height: 80px;
    max-width: 650px;
    width: 100%;
    height: auto;
}

/* 联系信息 */
.contact_info {
    position: absolute;
    top: 140px;
    left: 50%;
    margin-left: -500px;
    width: 1000px;
    font-size: 17px;
    text-align: center;
    /* color: #cdcdcd; */
    color: white;
}

/* 版权信息 */
.copyright {
    position: absolute;
    top: 178px;
    left: 50%;
    margin-left: -500px;
    width: 1000px;
    font-size: 12px;
    text-align: center;
    /* color: #cdcdcd; */
    color: white;
}

.copyright a {
    color: white;
}

/* 二维码 */
.QR_code {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 90px;
    height: 100px;
}

.QR_code span {
    display: block;
    position: absolute;
    bottom: 1px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: white;
}