* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "微软雅黑";
}

a {
    text-decoration: none;
    color: white;
}

li {
    list-style: none;
}

.all {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.head-box {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 588px;
}

.head-focus {
    position: relative;
    width: 100vw;
    height: 588px;
    overflow: hidden;
}

.head-focus .head-arrow-l,
.head-arrow-r {
    display: none;
}

.head-arrow-r {
    right: 0;
}

.head-arrow-l:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.head-arrow-r:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.head-circle {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 16px;
    left: 50%;
    margin-left: -400px;
    width: 800px;
    height: 20px;

}

.head-circle li {
    float: left;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    margin: 4px 18px;
}

.head-current-pic {
    background-color: #1865ab !important;
}


.head-focus ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 800%;
}

.head-focus ul li {
    float: left;

}

.head-focus img {
    width: 100vw;
    height: auto;
    object-fit: cover;
    /* 缩放并保持原始宽高比，同时裁剪多余部分 */
    object-position: center;
    /* 图片居中显示 */
}

/* 顶部版心 */

.header-box {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    top: 0px;
    width: 100%;
    height: 105px;
    z-index: 2;
}

.head-bk {

    position: absolute;
    top: 0;
    width: 100%;
    height: 105px;
    background-color: #4fa4e4;
    opacity: 0;
    /* 初始透明度为0 */
    transition: opacity 0.5s ease;
    /* 添加过渡效果 */
}


.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 105px;
}

/* 顶部logo */
.logo-box {
    width: 460px;
    height: 105px;
}


.head-logo img {
    width: 100%;
    height: auto;
    margin-top: 5px;
    margin-left: -20px;
}

.nav-box {
    position: relative;
    width: 840px;
    height: 120px;
}

.nav-other {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    width: 270px;
    height: 60px;
}

.search-box {
    display: flex;
    width: 140px;
    height: 25px;
    border: 1px solid #fff;
    border-radius: 4px;
}

.search-box input {
    width: 80%;
    outline: none;
    border: 0px;
    font-size: 16px;
    padding-left: 3px;
    background: transparent;
    caret-color: #fff;
}

.lang {
    position: absolute;
    right: 10px;
    width: 110px;
    height: 23px;

}

.lang ul {
    display: flex;
    justify-content: space-between;
}

.lang li {
    width: 20px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    font-size: 14px;

}

.lang .EN {
    width: 38px;
    position: relative;
}

.EN a {
    position: absolute;
    right: 0;
}

.lang img {
    position: absolute;
    top: 2px;
    left: 0;
    width: 18px;
}

.line {
    position: absolute;
    right: 46px;
    top: 2px;
    width: 2px;
    height: 19px;
    background-color: white;
}

.search-box button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.search-box img {
    width: 20px;
    height: auto;
}

.nav-list {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.nav-list ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.nav-list li {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding: 0 10px;
}

/* 第一信息栏版心 */
.notic-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    aspect-ratio: 18/5;

}

.focus .arrow-l,
.arrow-r {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 40px;
    color: #fff;
}

.arrow-r {
    right: 0;
}

.arrow-l:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.arrow-r:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.focus {
    position: relative;
    width: 25vw;
    aspect-ratio: 16/10;
    overflow: hidden;
}

.focus a {
    position: absolute;
    z-index: 1;
}

.focus ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 800%;
}

.focus ul li {
    float: left;
    width: 25vw;
    aspect-ratio: 16/10;
}

.focus img {
    width: 25vw;
    aspect-ratio: 16/10;
}

/* 学院动态 */
.xueyuan-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 28%;
    height: 100%;

}


.notic-box .xueyuan-box img {
    position: absolute;
    bottom: -5%;
    height: 100%;
}

.xueyuan-box .news-list li a {
    position: absolute;
    left: 11%;
    width: 85%;
}

.notic-box .xueyuan-box span {
    position: absolute;
    top: 18%;
    left: 0;
    width: 6%;
    height: 50%;
    padding: 1px 0 2px 0;
    text-align: center;
    background-color: #f9e208;
    color: #000000;
    font-size: 0.5vw;
    font-weight: 400;
}

.tongzhi-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 28%;
    height: 100%;
}

.tongzhi-box img {
    position: absolute;
    bottom: -5%;
    height: 100%;
}

.tongzhi-box .news-list li a {
    position: absolute;
    left: 11%;
    width: 85%;
}

.notic-box .tongzhi-box span {
    position: absolute;
    top: 18%;
    left: 0;
    width: 6%;
    height: 50%;
    padding: 1px 0 2px 0;
    text-align: center;
    background-color: #f9e208;
    color: #000000;
    font-size: 0.5vw;
    font-weight: 400;
}

/* 图片链接栏 */
.pic-nav {
    width: 100%;
    background-color: #cae9fb;
}

/* 图片链接栏版心 */
.pic-nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    aspect-ratio: 16/1;
    margin: 0 auto;
}

/* 图片链接 */
.pic-nav-box a {
    background-color: #cae9fb;
    color: #21368f;
    font-size: 1.8vw;
    font-weight: 600;
}


/* 新闻栏目版心 */
.news-box {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 90%;
    aspect-ratio: 16 / 4;
}

.news-head {
    position: relative;
    width: 100%;
    aspect-ratio: 11 / 1;
    border-bottom: 2px solid #bab9b9;
}

.news-head img {
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 8%;
    aspect-ratio: 10/8;
}

.news-head h2 {
    position: absolute;
    left: 9%;
    bottom: -2px;
    font-size: 1.5vw;
    border-bottom: 3px solid #426eb7;
    padding: 2px 0;
    color: #426eb7;
}

.news-head a {
    position: absolute;
    right: 0;
    bottom: 1px;
    font-size: 1vw;
    color: #bab9b9;
}

.news-list {
    width: 100%;
    aspect-ratio: 16/10;

}

.news-list li {
    position: relative;
    width: 100%;
    aspect-ratio: 19/2;

}

.news-list li a {

    position: absolute;
    bottom: 0;
    left: 6%;
    width: 70%;
    aspect-ratio: 20/2;
    font-size: 1vw;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-list li span {
    position: absolute;
    right: 0;
    bottom: 20%;
    font-size: 0.8vw;
    color: #888888;
}

.news-list .dot {
    position: absolute;
    left: 0;
    bottom: 21%;
    width: 3%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0.1vw solid #416eb6;

}

/* 人才培养 */
.rencai-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 28%;
}


/* 科研咨询 */
.keyan-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 28%;
}


/* 党团工会 */
.dangtuan-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 28%;
}

/* 底部图片栏目 */
.pic-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    aspect-ratio: 18 / 3;
}

.pic-box img {
    width: 18vw;
    aspect-ratio: 16 / 10;
}

/* 底部背景 */
.footer {
    position: relative;
    width: 100%;
    height: 218px;
    background-image: linear-gradient(#4fa4e4, #122d73);
}

/* 底部版心 */
.footer_box {
    position: relative;
    width: 80%;
    height: 218px;
    margin: 0 auto;
}

/* 友情链接 */
/* 定位下拉内容 */
.dropdown {
    position: absolute;
    top: 30px;
    left: 10px;

}

.tria {
    position: absolute;
    top: 9px;
    right: 12px;
    border-top: 13px solid #fff;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    cursor: pointer;
}



/* 下拉按钮 */
.dropbtn {
    display: inline-block;
    width: 130px;
    height: 30px;
    background-color: transparent;
    color: white;
    padding: 0 40px 0 4px;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}

/* 下拉内容 (默认隐藏) */
.dropdown-content {
    position: absolute;
    background-color: #4fa4e4;
    min-width: 128px;
    opacity: 0;
    /* 初始透明度为0 */
    max-height: 0;
    /* 初始高度为0 */
    overflow: hidden;
    /* 隐藏溢出内容 */
    transition: opacity 0.5s ease, max-height 2.5s ease;
    /* 添加过渡效果 */
}

/* 下拉菜单的链接 */
.dropdown-content a {
    display: block;
    color: #f9f9f9;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;

}

/* 鼠标移上去后修改下拉菜单链接颜色 */
.dropdown-content a:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1), 0px -4px 6px rgba(0, 0, 0, 0.1);

}

/* 在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
    opacity: 1;
    /* 鼠标悬停时透明度变为1，显示 */
    max-height: 1000px;
    /* 鼠标悬停时最大高度变为1000px，逐渐展开 */
}

/* 当下拉内容显示后修改下拉按钮的背景颜色 */
.dropdown:hover .dropbtn {
    background-color: #4fa4e4;
}

/* 底部logo */
.logo_foot {
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -325px;
}

.logo_foot img {
    max-height: 80px;
    max-width: 650px;
    width: 100%;
    height: auto;
}

/* 联系信息 */
.contact_info {
    position: absolute;
    top: 140px;
    left: 50%;
    margin-left: -500px;
    width: 1000px;
    font-size: 17px;
    text-align: center;
    /* color: #cdcdcd; */
    color: white;
}

/* 版权信息 */
.copyright {
    position: absolute;
    top: 178px;
    left: 50%;
    margin-left: -500px;
    width: 1000px;
    font-size: 12px;
    text-align: center;
    /* color: #cdcdcd; */
    color: white;
}

.copyright a {
    color: white;
}

/* 二维码 */
.QR_code {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 90px;
    height: 100px;
}

.QR_code span {
    display: block;
    position: absolute;
    bottom: 1px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: white;
}